/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* кейфрейм для стрелочки */
@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

/* кейфрейм масштаба сердечка */
@keyframes scaling-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* кейфрейм для вспышки искр у сердечка */
@keyframes cool-sparks {
from {
opacity: 0;
}
to {
opacity: 1;
}
}


/* фокус сердечка */
.card__icon-button:focus-visible {
  border: 2px solid var(--font-and-border-color);
}

/* состояния сердечка */

/* скрываем искры */
.sparks {
  opacity: 0;
}

/* изменение сердцевины когда убран курсор */
.heart .core {
  fill: none;
  transition: fill 0.3s linear 0.03s;
}

/* изменение заливки когда убран курсор */
.heart .main-body {
  fill: none;
  transition: fill 0.3s linear;
}

/* само сердечко */
.like-icon {
  cursor: pointer;
}

/* значение fill для возможности его плавного изменения далее */
.card__icon-button .core,
.card__icon-button .main-body {
  fill: transparent;
}

/* ховер сердечка (сердцевина) */
.heart:hover .core {
  fill: var(--color-accent);
  transition: fill 0.3s linear 0.03s;
}

/* ховер сердечка (закраска) */
.heart:hover .main-body {
  fill: var(--color-accent);
  transition: fill 0.3s linear 0.05s;
}

/* при зажатии */
.heart:active .core {
  fill: var(--heart-liked);
  transition: fill 0.3s linear 0.03s;
}

.heart:active .main-body {
  fill: var(--heart-liked);
  transition: fill 0.3s linear 0.05s;
}

/* при нажатии */

.like-icon.is-liked .core {
  fill: var(--heart-liked);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-liked);
}

.like-icon.is-liked .contour {
  fill: var(--heart-liked);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaling-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  fill: var(--heart-liked);
  animation: cool-sparks 0.3s ease-in 0.3s;
}

/* возвращение цвета контура при выключении сердечка */
.like-icon:disabled .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}
