/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

/* шрифты мои шрифты */
:root {
--main-font: 'Inter-Variable';
--accidental-font: 'PressStart2P-Regular';
/* у себя по перфект пикселю 26% */
--content-margin: 27%
}